<?xml version="1.0"?>
<robot name="dude_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find ros_dude_description)/urdf/materials.urdf" />
  <xacro:include filename="$(find ros_dude_description)/urdf/motor.urdf.xacro" />
  <xacro:include filename="$(find ros_dude_description)/urdf/omniwheel.urdf.xacro" />
  <xacro:include filename="$(find ros_dude_description)/urdf/wheel.urdf.xacro" />
  <xacro:include filename="$(find ros_dude_description)/urdf/asus_xtion_pro.urdf.xacro"/>
  <!-- Included URDF/XACRO Files -->

  <!-- Global properties -->
  <property name="path_meshes" value="package://ros_dude_description/meshes"/>
  <property name="M_PI" value="3.14159"/>
  <!-- Global properties -->
  
  <!-- Wheels params -->
  <property name="wheel_radius" value="0.0365"/>
  <property name="wheel_leght" value="0.01"/>
  <property name="wheel_offset_x" value="-0.00"/>
  <property name="wheel_offset_y" value="0.08"/>
  <property name="wheel_offset_z" value="${wheel_radius}"/>
  <!-- Wheels params -->

  <!-- Asus Xtion params -->
  <property name="camera_axis" value="fixed"/>
  <property name="cam_px" value="-0.005" />
  <property name="cam_py" value="0.0" />
  <property name="cam_pz" value="0.113" />
  <property name="cam_or" value="0" />
  <property name="cam_op" value="0" />
  <property name="cam_oy" value="0" />
  <!-- Asus Xtion params -->

  <!-- base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="-0.08572 0 0.034445" rpy="0 0 0" />
      <mass value="0.43258" />
      <inertia
        ixx="0.0013149" ixy="0" ixz="0.00013884"
        iyy="0.0021698" iyz="0"
        izz="0.0028089" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${path_meshes}/body/base_link.STL" />
      </geometry>
      <material name="Yellow" />
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.07" rpy="0 0 0" />
      <geometry>
        <box size="0.08 0.14 0.11"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.13 0.0 0.07" rpy="0 0 0" />
      <geometry>
        <box size="0.18 0.19 0.11"/>
      </geometry>
    </collision>
  </link>
  <!-- base_link -->

  <!-- Body chassis -->
  <link name="wall_body_Link">
    <inertial>
      <origin xyz="-0.090836 0 0.084998" rpy="0 0 0" />
      <mass value="0.20283" />
      <inertia 
        ixx="0.0009070" ixy="0" ixz="0"
        iyy="0.0012807" iyz="0"
        izz="0.0017437" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh
          filename="${path_meshes}/body/wall_body_Link.STL" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 0.5" />
      </material>
    </visual>
  </link>
  <joint name="wall_body" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="wall_body_Link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="column_body_Link">
    <inertial>
      <origin xyz="-0.10613 0.0015789 0.046254" rpy="0 0 0" />
      <mass value="0.10507" />
      <inertia
        ixx="0.00033714" ixy="0" ixz="0"
        iyy="0.00079716" iyz="0"
        izz="0.0010369" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${path_meshes}/body/column_body_Link.STL" />
      </geometry>
      <material name="Black" />
    </visual>
  </link>
  <joint name="column_body" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="column_body_Link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="battery_Link">
    <inertial>
      <origin xyz="0 0 0.018" rpy="0 0 0" />
      <mass value="0.24981" />
      <inertia
        ixx="0.00044483" ixy="1.2332E-20" ixz="1.0603E-21"
        iyy="7.6356E-05" iyz="2.4007E-20"
        izz="0.00046843" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${path_meshes}/body/battery_Link.STL" />
      </geometry>
      <material name="Blue" />
    </visual>
  </link>
  <joint name="battery" type="fixed">
    <origin xyz="-0.08145 0 0.0198375999999985" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="battery_Link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="electronics_Link">
    <inertial>
      <origin xyz="-0.036996 0.030509 0.06534" rpy="0 0 0" />
      <mass value="0.0041313" />
      <inertia
        ixx="5.2552E-07" ixy="4.4197E-12" ixz="3.55E-11"
        iyy="5.2551E-07" iyz="7.1007E-11"
        izz="1.0455E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${path_meshes}/body/electronics_Link.STL" />
      </geometry>
      <material name="White" />
    </visual>
  </link>
  <joint name="electronics" type="fixed">
    <origin xyz="0.03105 0 0.0138375999999985" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="electronics_Link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="jetson_board_Link">
    <inertial>
      <origin xyz="-0.014974 0.000698 0.0046671" rpy="0 0 0" />
      <mass value="0.054421" />
      <inertia
        ixx="7.5163E-05" ixy="4.1299E-06" ixz="-4.9228E-06"
        iyy="8.1481E-05" iyz="-1.4961E-06"
        izz="0.00015315" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${path_meshes}/body/jetson_board_Link.STL" />
      </geometry>
      <material name="Green" />
    </visual>
  </link>
  <joint name="jetson_board" type="fixed">
    <origin xyz="-0.131461588151754 0 0.064" rpy="0 0 0" />
    <parent link="electronics_Link" />
    <child link="jetson_board_Link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- Motors -->
  <xacro:motor position="left" parent="column_body_Link">
    <origin xyz="0 0.087616 0.0365" rpy="0 0 0" />
  </xacro:motor>
  <xacro:motor position="right" parent="column_body_Link">
    <origin xyz="0 -0.087616 0.0365" rpy="0 0 ${M_PI}" />
  </xacro:motor>
  <!-- Motors -->

  <!-- Omniwheel -->  
  <xacro:omniwheel parent="base_link">
    <origin xyz="-0.20895 0 0.021838" rpy="0 0 ${M_PI}" />
  </xacro:omniwheel>
  <!-- Omniwheel -->

  <!-- Asus Xtion Pro Live -->  
  <xacro:sensor_asus_xtion_pro parent="base_link" type="${camera_axis}">
    <origin xyz="${cam_px} ${cam_py} ${cam_pz}"  rpy="${cam_or} ${cam_op} ${cam_oy}" />
  </xacro:sensor_asus_xtion_pro>
  <!-- Asus Xtion Pro Live --> 

  <!-- Wheels -->
  <xacro:banebots_wheel position="left" reflect="-1">
    <origin xyz="${wheel_offset_x} ${-wheel_offset_y} ${wheel_offset_z}" rpy="${M_PI/2} 0 0" />
  </xacro:banebots_wheel>
  <xacro:banebots_wheel position="right" reflect="1">
    <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="${-M_PI/2} 0 0" />
  </xacro:banebots_wheel>
  <!-- Wheels -->  

</robot>
