<launch>

  <!-- Load unav hardware interface -->
  <include file="$(find dude_control)/launch/include/driver.launch" />

  <!-- Load controller and twix-mux -->
  <include file="$(find dude_control)/launch/control.launch" />
  
  <!-- load RDBG camera and laser scan -->
  <include file="$(find dude_control)/launch/include/rgbd.launch" />

  <!-- Load teleoperation telecontrol -->
  <!--<include file="$(find dude_control)/launch/teleop.launch" />-->

  <!-- Gmapping -->
  <!--<include file="$(find dude_navigation)/launch/gmapping.launch" />-->

  <!-- ROSBRIDGE -->
  <!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9090"/>
  </include>-->
 
</launch>
