<?xml version="1.0"?>
<!--
Software License Agreement (BSD)

\file      gazebo.launch
\authors   Raffaello Bonghi <raffaello.bonghi@officinerobotiche.it
\copyright Copyright (c) 2015, Officine Robotiche, All rights reserved.

-->
<launch>
  <!-- Send the 4UDE Robot URDF/XACRO to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find dude_description)/urdf/description.xacro'" />
  
  <!-- Activate node to propagate the joint state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
