<?xml version="1.0"?>
<robot name="sensor_asus_xtion_pro" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Xacro properties -->
  <xacro:property name="asus_xtion_pro_depth_rel_rgb_py" value="0.0270" />
  <xacro:property name="asus_xtion_pro_cam_rel_rgb_py"   value="-0.0220" />

  <!-- Parameterised in part by the values in turtlebot_properties.urdf.xacro -->
  <xacro:macro name="sensor_asus_xtion_pro" params="parent type *joint_pose">

  <link name="xtion_sensor_link">
    <inertial>
      <origin xyz="0.00025226 0 0.0028141" rpy="0 0 0" />
      <mass value="0.015722" />
      <inertia
        ixx="1.0417E-05" ixy="-1.1897E-11" ixz="-1.2844E-10"
        iyy="1.916E-06" iyz="-6.3859E-13"
        izz="1.199E-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${path_meshes}/xtion/xtion_sensor_link.STL" />
      </geometry>
      <material name="Black" />
    </visual>
    <collision>
      <origin xyz="0 0 0.02" rpy="0 0 0" />
      <geometry>
        <box size="0.015 0.015 0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="xtion_sensor" type="fixed">
    <xacro:insert_block name="joint_pose"/>
    <parent link="${parent}" />
    <child link="xtion_sensor_link" />
    <axis xyz="0 0 0" />
  </joint>

  <link name="rgbd_camera_link">
    <inertial>
      <origin xyz="-0.00077984 -0.00028713 0.021283" rpy="0 0 0" />
      <mass value="0.15031" />
      <inertia
        ixx="0.00039928" ixy="-5.3487E-07" ixz="-1.3724E-08"
        iyy="2.3618E-05" iyz="-8.6762E-09"
        izz="0.00040606" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="${path_meshes}/xtion/xtion_camera_link.STL" />
      </geometry>
      <material name="Black" />
    </visual>
    <collision>
      <origin xyz="0 0 0.021" rpy="0 0 0" />
      <geometry>
        <box size="0.035 0.18 0.022"/>
      </geometry>
    </collision>
  </link>
    <gazebo reference="rgbd_camera_link">
      <mu1 value="1.0"/>
      <mu2 value="1.0"/>
      <kp value="10000000.0" />
      <kd value="1.0" />
      <fdir1 value="1 0 0"/>
    </gazebo>

  <joint name="xtion_camera" type="${type}">
    <origin xyz="0.00026411 0 0.01275" rpy="0 0 0" />
    <parent link="xtion_sensor_link" />
    <child link="rgbd_camera_link" />
    <limit effort="1000.0" lower="-0.68" upper="0.68" velocity="0.5"/>
    <axis xyz="0 -1 0" />
  </joint>

  <joint name="rgbd_camera_rgb_joint" type="fixed">
    <origin xyz="0 0.018 0.022" rpy="0 0 0" />
    <parent link="rgbd_camera_link"/>
    <child link="rgbd_camera_rgb_frame" />
  </joint>
  <link name="rgbd_camera_rgb_frame"/>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    <parent link="rgbd_camera_rgb_frame" />
    <child link="rgbd_camera_rgb_optical_frame" />
  </joint>
  <link name="rgbd_camera_rgb_optical_frame"/>

  <joint name="rgbd_camera_depth_joint" type="fixed">
    <origin xyz="0 ${asus_xtion_pro_depth_rel_rgb_py} 0" rpy="0 0 0" />
    <parent link="rgbd_camera_rgb_frame" />
    <child link="rgbd_camera_depth_frame" />
  </joint>
  <link name="rgbd_camera_depth_frame"/>

  <joint name="rgbd_camera_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
    <parent link="rgbd_camera_depth_frame" />
    <child link="rgbd_camera_depth_optical_frame" />
  </joint>
  <link name="rgbd_camera_depth_optical_frame"/>

  </xacro:macro>
</robot>
