<?xml version="1.0"?>

<launch>
  <!-- Send the 4UDE Robot URDF/XACRO to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find ros_dude_description)/urdf/description.xacro'" />
  
  <!-- Activate node to propagate the joint state -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
