<?xml version="1.0"?>

<!-- This launcher is used to show the Robot Model in Rviz without any TF publisher node active
     To be used together with "dude_description.launch" -->

<launch>
  <!-- Standalone launcher to visualize the robot model. -->
  <include file="$(find ros_dude)/launch/include/dude_description.launch"/>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
    <param name="use_gui" value="true" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_dude)/rviz/model.rviz" output="screen" />
</launch>
