<launch>

  <!-- Launch description robot -->
  <include file="$(find ros_dude_description)/launch/include/dude_description.launch" />
  <!--<include file="$(find ros_dude)/launch/include/rgbd.launch" />-->

  <!-- LOAD bridge robot -->
  <rosparam command="load" file="$(find ros_dude_description)/dude_robot.yaml" />      
  <node name="serial_bridge" pkg="ros_serial_bridge" type="serial_bridge_node" 
        args="/dev/ttyUSB0" output="screen" respawn="true" respawn_delay="20" />

  <!-- ROSBRIDGE -->
  <!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9090"/>
  </include>-->
 
</launch>
