
<launch>
  <param name="/info/robot_name" value="dude" />

  <include file="$(find ros_dude)/launch/include/dude_description.launch" />
  <include file="$(find ros_dude)/launch/include/rgbd.launch" />

  <!-- LOAD bridge robot -->
  <group ns="dude">
      <rosparam command="load" file="$(find ros_dude)/dude_robot.yaml" />      

      <node name="dude" pkg="serial_bridge" type="serial_bridge_node" args="/dev/ttyUSB0" output="screen" respawn="true" respawn_delay="20" >
          <remap from = "/dude/joint_states" to = "/joint_states" />
      </node>
  </group>

 <!-- <node name="wandering" pkg="robot_wandering_demo_ros" type="robot_wandering_node" />-->

  <!-- TF WEB PUB -->
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher" />

  <!--<node name="web_video_server" pkg="web_video_server" type="web_video_server" port="9999" />-->

  <!--<node name="web_video_server" pkg="depthcloud_encoder" type="depthcloud_encoder_node" depth="/camera/depth_registered/image_float" rgb="/camera/rgb/image_rect_color" /> -->

  <!-- <node name="nodelet" pkg="nodelet" type="standalone" depth_image_proc/convert_metric image_raw:=/camera/depth_registered/image_raw image:=/camera/depth_registered/image_float /> -->

  <!-- ROSBRIDGE -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
     <arg name="port" value="9090"/>
  </include>
 
</launch>
